<center>
<table>
  <tr>
    <th>ACTRESS</th>
    <th>TWITTER</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stars.each do |star| %>
  <tr>
    <td><%= star.name %></td>
    <td><%= star.twitter %></td>

  </tr>
<% end %>

</table>
<br>
<%= link_to "Start Crawl", 'star/crawl' %>
<i>Please be patient, will take a couple of minutes</i>
</center>